<!DOCTYPE html>
<html ng-app="myLanguageApp">
<head>
	<meta charset="UTF-8">
	<title>AngularJS | Welcome</title>
	<script src = "./node_modules/angular/angular.min.js"></script>
</head>
<body>
	<div ng-controller="languages">
		Select your favorite language: 
		<button ng-click="php()">PHP</button>
		<button ng-click="javascript()">JavaScript</button> 
		<button ng-click="python()">Python</button>
		<button ng-click="java()">Java</button>
		<button ng-click="cpp()">C++</button>
		
		<p>You have selected: {{ myFavLanguage }}</p>
	</div>
	
	
	<div>
		Currency: <input type="text" ng-model="price"><br>
		{{ price | currency: "Tk." : 2 }}
	</div>
	<br>
	
	<div ng-include="'index.html'">	
	</div>
	
	<script>
		var application = angular.module('myLanguageApp', []);
		application.controller('languages',  function($scope){
			$scope.myFavLanguage = 'None';
			
			$scope.php = function(){
				$scope.myFavLanguage = 'PHP';
			};
			
			$scope.javascript = function(){
				$scope.myFavLanguage = 'JavaScript';
			};
			
			$scope.python = function(){
				$scope.myFavLanguage = 'Python';
			};
			
			$scope.java = function(){
				$scope.myFavLanguage = 'Java';
			};
			
			$scope.cpp = function(){
				$scope.myFavLanguage = 'C++';
			};
		});
	</script>
</body>
</html>